WP_DB_HOST=mysql
WP_DB_NAME=dockerpress
WP_TABLE_PREFIX=wp_
WP_DB_USER=root
WP_DB_PASSWORD=changeme

WP_AUTH_KEY=dev
WP_SECURE_AUTH_KEY=dev
WP_LOGGED_IN_KEY=dev
WP_NONCE_KEY=dev
WP_AUTH_SALT=dev
WP_SECURE_AUTH_SALT=dev
WP_LOGGED_IN_SALT=dev
WP_NONCE_SALT=dev

WP_DEBUG=1

MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
