# Package Managers
vendor/

# Dotenv
.env

# WP Core
app/wp

# Plugins
app/plugins/**/*
!app/plugins/.gitkeep
app/mu-plugins/**/*
!app/mu-plugins/mu-autoloader.php
!app/mu-plugins/.gitkeep

# Uploads
app/uploads/**/*
!app/uploads/.gitkeep

# Certbot files
data/certbot/**/*
!data/certbot/.gitkeep
