# Package Managers
vendor/
node_modules/
yarn-error.log

# Dotenv
.env

# MySQL volume folder
mysql/

# WP Core
app/wp

# Plugins
app/plugins/**/*
app/mu-plugins/**/*
!app/mu-plugins/mu-autoloader.php
!app/plugins/.gitkeep
!app/mu-plugins/.gitkeep

# Uploads
app/uploads/**/*
!app/uploads/.gitkeep

