# Package Managers
vendor/
node_modules/
yarn-error.log

# Dotenv
.env

# MySQL volume folder
mysql/

# WP Core
app/wp

# Plugins
app/plugins/**/*
!app/plugins/.gitkeep

# Uploads
app/uploads/**/*
!app/uploads/.gitkeep

