@charset 'UTF-8';

// 1. Configuration and helpers
@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";

// 2. Vendors
@import "~normalize.css/normalize.css";
@import "vendor/wordpress";
@import "vendor/hamburgers";
@import "~hamburgers/_sass/hamburgers/hamburgers.scss";

// 3. Base stuff
@import "base/base";
@import "base/fonts";
@import "base/typography";
@import "base/helpers";

// 4. Layout-related sections
@import "layout/header";
@import 'layout/main';
@import "layout/section";
@import "layout/footer";

// 5. Components
@import "components/article";
@import "components/author";
@import "components/button";
@import "components/card";
@import "components/grid";
@import "components/hero";
@import "components/offcanvas";

// 6. Page-specific styles
@import "pages/home";
@import "pages/404";

// 7. Themes
@import "themes/default";
