// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.l-footer {
  background: #111;
  bottom: 0;
  color: #fff;
  font-weight: bold;
  left: 0;
  padding: 1rem;
  position: absolute;
  right: 0;

  .container {
    display: flex;
  }

  &__social {
    font-size: 2rem;
    line-height: 3rem;
    margin-left: auto;
  }

  &__brand {
    margin: 0;
    margin-top: .75rem;
  }
}
