// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.l-header {
  background: #111;
  color: #fff;
  display: flex;
  left: 0;
  padding: 1rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;

  &__brand {
    color: #fff;
    font-weight: bold;
    line-height: 1.5;

    @include on-event {
      color: #fff;
      text-decoration: none;
    }
  }

  .hamburger {
    margin-left: auto;
    z-index: 1001;
  }
}
