// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.l-header {
  background: #111;
  display: flex;
  padding: 1rem;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;

  &__brand {
    font-weight: bold;
    color: #fff;
    line-height: 1.5;
  }

  .hamburger {
    margin-left: auto;
    z-index: 1001;
  }
}
