.c-author {
  margin: 0.5rem 0;
  min-width: 230px;

  &::after {
    @extend .clearfix;
  }

  &__avatar {
    border-radius: 50%;
    float: left;
    margin-right: 0.5rem;
    max-width: 50px;
  }

  &__name {
    font-weight: bold;
    margin: 0 !important;
  }
}
