.c-button {
  background: #3498db;
  border-radius: 30px;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  line-height: 1.45;
  padding: 0.5rem 1rem;
  text-align: center;
  transition: background 150ms;

  @include on-event {
    background: lighten(#3498db, 5%);
    color: #fff;
    outline: 0;
    text-decoration: none;
  }
}
