.c-card {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 0.5rem;
  position: relative;

  &__image {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: relative;

    .c-author {
      color: #fff;
      position: absolute;
      bottom: 0;
      margin-left: 1rem;
      margin-bottom: 1rem;
    }
  }

  &__content {
    padding: 1rem;
    padding-top: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: .5rem 0;
  }

  p {
    margin-bottom: 1rem;
  }
}
